<section class="section">
  <div class="container">
    <%= for series <- @series do %>
      <%= render NightcrawlerWeb.SeriesView, "_comic.html", series: series, single: false, conn: @conn %>
    <% end %>
  </div>
</section>