<section class="section">
  <div class="container">
    <%= for series <- @data do %>
      <div class="box">
        <h1 class="title"><%= link series["title"], to: series_path(@conn, :get, series["id"]) %></h1>
        <img src="<%= thumbnail(series) %>" alt="thumbnail" width=250 height=250>
        <p><%= series["comics"]["returned"] %> comics</p>
        <p><%= series["creators"]["returned"] %> creators</p>
      </div>
    <% end %>
  </div>
</section>