<section class="hero is-bold is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Nightcrawler</h1>
      <p class="subtitle">Marvel Comic searcher and utility</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>Nightcrawler is a utility to create playlists and search for marvel comics</p>
  </div>
</section>