<section class="section">
  <div class="container">
    <%= for character <- @characters do %>
      <h1><%= character.name %></h1>
      <p><%= character.description %></p>
      <img src="<%= thumbnail_url(character.thumbnail, :standard_fantastic) %>" alt="">
    <% end %>
  </div>
</section>