<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# <meta name="description" content="">
    <meta name="author" content=""> %>

    <title>Nightcrawler</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="<%= page_path(@conn, :index) %>">
            <img src="/images/nightcrawler-logo@1x.png" alt="Nightcrawler" width="178.5" height="28">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <%= link "Series", to: series_path(@conn, :all), class: "navbar-item" %>
          <a href="#" class="navbar-item">Characters</a>
          <a href="#" class="navbar-item">Events</a>
          <a href="#" class="navbar-item">Creators</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= show_flash(@conn) %>
    </div>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
